// COLORS
$color-primary-light: #ffc0cb;
$color-primary-dark: #f08080;
$color-primary-dark-transparent: #f080806c;
$color-secondary-light: #8fbdcc;
$color-secondary-dark: #4c8ba0;
$color-gray: #808080;
$color-white: #f0fff0;
$color-black: rgb(110, 79, 79);
$color-gray-light-1: #f7f7f7;

// GRID (FLOAT)
$grid-width: 114rem;
$gutter-horizontal: 3rem;
$gutter-vertical: 6rem;
$grid-color: $color-gray;
$grid-background: transparent;