.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        color: inherit;
        background-color: rgba($color-white, .95);
        border: none;
        font-family: inherit;
        border-bottom: 3px solid transparent;
        width: 90%;
        transition: all .3s;
        display: block;
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            border-bottom: 3px solid $color-primary-light;
            &:invalid {
                border-bottom: 3px solid red;
            }
            
        }
        &::placeholder {
            color: $color-gray; 
        }
    }
    &__label {
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }
    // Si el placeholder se muestra, el label esta oculto
    &__input:placeholder-shown +  &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

}